 @media screen and (max-width: 767px)  
{ 

.raw-1__item { 
width: 100%; 
} 

.navigation-menu
{
    float: right;
    width: 100px;
    
}

.navigation-menu__menu-elements
{
    padding: 0 3%;
    border: none;
}

}