.content
{
    height: 100%;
    width: 370px;
    float: left;
    padding: 0;
    margin: 0;
}

.content .content__img
{
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 100px;
    padding: 0;
    margin: 0;
    
}

.content .content__text
{
    float: right;
    height: 60%;
    box-sizing: border-box;
    width: 270px;
    padding-left: 20px;
    padding-top: 60px;
    margin: 0;
    font-family: "Source Sans Pro";
    color: #fff;
}

.content__text--title
{
    font-size: 14pt;
    font-weight: bold;
}

.content__text--info
{
    margin-top: 20px; 
    font-size: 10pt;  
    line-height: 20px; 
}

.content .content__link
{
    float: right;
    height: 40%;
    box-sizing: border-box;
    width: 270px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 60px;
    margin: 0;
}

.content__img--circle
{
    background-color: #fff;
    border-radius: 50px;
    width: 65px;
    height: 65px;
    margin-left: 30px;
    margin-top: 60px;
}

.content__img--flag
{
    padding-left: 20px;
    padding-top: 10px;
}

.content__img--camera
{
    padding-left: 11px;
    padding-top: 15px;
}

.content__img--home
{
    padding-left: 12px;
    padding-top: 9px;
}

.link
{
    font-size: 16px;
    font-family: "SourceSansPro";
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
