.raw-1
{
    min-height: 270px;
    background-color: #6dc5dd;
    padding: 0 30px;
}

.raw-1__item
{
    float: left;  
    padding: 60px 30px 0 0;
    margin-right: 30px; 
    max-width: 340px; 
}

.raw-1 :last-child
{
    padding-right: 0;
}


