.info-block
{
    min-height: 50%;
    width: 770px;
    float: left;
    padding-bottom: 10px;
}

.info-block__img
{
    float: left;
    height: 100%;
    width: 215px;
    padding-top: 65px;
}

.info-block__content
{
    float: left;
    width: 550px;
    padding-top: 65px;
}

.info-block__text
{
    float: left;
    padding-right: 30px;
    font-family: "Source Sans Pro";
}

.info-block__text--title
{
    font-size: 21px;
    font-weight: bold;
    color: #003d48;
}

.info-block__text--info
{
    font-size: 15px;
    color: #959a9c;
    margin-top: 25px;
}

.info-block__btn
{
    float: left;
    height: 80px;
}

.info-block__btn--info-btn
{
    height: 40px;
    width: 70px;
    padding-top: 7px;
    font-size: 19px;
    margin-top: 20px;
}