.raw-2
{
    min-height: 575px;
    background-color: #fff;
    padding: 0 30px;
}

.raw-2__info-blocks
{
    float: left;
    padding-top: 60px;
}

.raw-2__menu
{
    float: left;
    padding-top: 60px;
}