.info-block
{
    max-width: 770px;
    padding-bottom: 60px;
}

.info-block__img
{
    float: left;  
    height: 100%;
    padding-right: 30px; 
    
}

.info-block__content
{
    float: left;  
    max-width: 550px; 
    padding-right: 30px;
}

.info-block-text
{
    float: left;
    font-size: 15px;
    color: #959a9c;
    font-family: "Source Sans Pro";
}

.info-block-text__title
{
    display: block;
    font-size: 21px;
    font-weight: bold;
    color: #003d48;
    margin-bottom: 25px;
}

.info-block-btn
{
    float: left; 
    margin-top: 31px;
}

.button__text--info-btn
{
    width: 70px;
    padding: 0 10px 7px; 
    font-size: 19px;
}