.news-block
{
    float: left;
    width: 565px;
    min-height: 440px;
}

.news
{
    min-height: 95px;
    margin-bottom: 50px}

.news__icon
{
    height: 100%;
    width: 100px;
    float: left;
}

.news__icon--rectangle
{
    width: 70px;
    float: left;
    background-color: #6dc5dd;
    border-radius: 3px;
    margin-right: 30px;
    margin-bottom: 20px;
    font-family: "Source Sans Pro";
    font-weight: bolder;
}

.news__icon--text-large
{
    font-size: 25pt;
    text-align: center;
    color: #fff;
}

.news__icon--text-small
{
    font-size: 13pt;
    text-align: center;
    color: #fff;
}

.news__text
{
    float: right;
    width: 465px; 
    font-family: "Source Sans Pro";
}

.news__text--title
{
    font-size: 16pt;
    font-weight: bold;
    color: #003d48;
}

.news__text--comments
{
    text-decoration: none;
    color: #f77462;
    font-size: 14pt;
}

.news__text--description
{
    font-size: 12pt;
    color: #787878;
    margin-top: 7px;
     padding-right: 30px; 
    /* float: left; */
}

.news__icon--line
{
    border: none;
    height: 2px;
    background-color: #fff;

}

.news__text--link
{
   margin-left: 5px;
}
