.news-block
{
    float: left;
    max-width: 560px;
    min-height: 440px;
}

.news-block__item
{
    padding-bottom: 60px;
}

.news-item
{
    min-height: 95px;
}

.news-item__icon
{
    float: left;
    padding-right: 30px;
    padding-bottom: 20px;
}

.news-item__text
{
     padding-right: 30px;
     float: left; 
     max-width: 460px; 
}

.news-icon
{
    font-family: "Source Sans Pro";
    font-weight: bolder;
}

.news-icon__rectangle
{
    width: 70px;
    background-color: #6dc5dd;
    border-radius: 3px;
}

.news-icon__text-large
{
    font-size: 32px;
    text-align: center;
    color: #fff;
    border-bottom: solid 2px #fff;
}

.news-icon__text-small
{
    font-size: 17px;
    text-align: center;
    color: #fff;
}

.news-text
{
    font-family: "Source Sans Pro";
}

.news-text__title
{
    font-size: 22px;
    font-weight: bold;
    color: #003d48;
}

.news-text__comments
{
    text-decoration: none;
    color: #f77462;
    font-size: 19px;
}

.news-text__description
{
    font-size: 16px;
    color: #787878;
    margin-top: 7px;
       
}

.news-text__link
{
   margin-left: 5px;
}
