.raw-4
{
    min-height: 650px;
    background-color: #fff;
    padding:0 30px;
}

.content__news-block
{
    float: left;
}

.content__says-block
{
    float: left;
    /*padding-right: 40px;*/
    max-width: 500px;
}

.raw-4__title
{
    padding-top: 55px;
    padding-bottom: 40px;
}

.raw-4-title
{
    text-align: center;
    font-family: "Source Sans Pro";
}

.raw-4-title__text-large
{
    font-size: 37px;
    text-align: center;
    color: #003d48;
    padding-bottom: 30px;
    font-weight: bold;
}

.raw-4-title__text-small
{
    font-size: 26px;
    color: #9cd5e6;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: lighter;
    border-bottom:solid 1px #dbdbdb; 
    border-top: solid 1px #dbdbdb;
}
