.raw-4
{
    min-height: 650px;
    background-color: #fff;
    padding-left: 30px;
}
.raw-4-title
{
    min-height: 220px;
}

.raw-4__text
{
    text-align: center;
    font-family: "Source Sans Pro";
}
.raw-4__text--large
{
    font-size: 37px;
    text-align: center;
    color: #003d48;
    padding-top: 55px;
    padding-bottom: 30px;
    font-weight: bold;
}

.raw-4__text--small
{
    font-size: 26px;
    color: #9cd5e6;
    margin-bottom: 30px; 
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 30px;
    font-weight: lighter;
    border-bottom:solid 1px #dbdbdb; 
    border-top: solid 1px #dbdbdb;
}

.raw-4-name__hr
{
    border: none;
    background-color: #dbdbdb;
    height: 1px;
    width: 1110px;
    margin-left: 30px;
}