.says-block
{
    max-width: 500px;
}

.says-block__item
{
    padding-bottom: 40px;
    max-width: 500px;
    
}

.says-item
{
    
    max-width: 500px;
    float: left;
    background-color: #ececec;
    border-radius: 3px;
    
}

.says-item__text
{
    float: left;
}

.says-item__img
{
    float: left;
    padding-top: 30px;
}

.says-text
{
    
    max-width: 370px;
    float: left;
    font-family: "Source Sans Pro";
}

.says-text__message
{
    padding-top: 40px;
    font-size: 16px;
    color: #787878;
}

.says-text__signature
{
    font-size: 21px;
    color: #f77462;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
}

.says-img__circle
{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: #fff;
    /*margin-right: 30px;*/
    /*margin-top: 30px;*/

}

.says-img__picture
{
    padding-top: 23px;
    padding-left: 13px;
}