.logo 
{
    width: 30%;
    display: -webkit-inline-box;
    
}

.logo .logo__text
{
    font-family: "Lato";
    color: #929292;
    font-size: 16px;  
}

.logo .logo__img
{
    margin-top: 5px;
    padding-right: 20px;
}


.logo__text--big-dark-word
{
    font-weight: bolder;
    color: #003d48;
    font-size: 29px;
}

.logo__text--big-red-word
{
    font-weight: lighter;
    color: #f9968a;
    font-size: 29px;
}

