.raw-3
{
    height: 205px;
    background-color: #f77462;
    align-content: center;
}

.raw-3__text--large
{
    font-size: 25pt;
    font-family: "Source Sans Pro";
    font-weight: bold;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
    color: #fff;
}

.raw-3__text--small
{
    font-size: 16pt;
    font-family: "Source Sans Pro";
    font-weight: lighter;
    text-align: center;
    line-height:  30px;
    color: #fff;
}