 .navigation-menu
{
	float: right;
	padding-top: 10px;
}

.navigation-menu__menu-elements
{
	color: #787878;
	text-decoration: none;
	font-family: "Source Sans Pro";
	font-size: 18px;
	font-weight: bold;
	padding: 0 30px;
   	border-right: 1px solid #e7e7e7;
}

.navigation-menu :last-child
{
	border-right-width: 0px;
	padding-right: 0;
}

.navigation-menu a:hover
{
	color: #6dc5dd;
	text-decoration: none;
}

