.footer
{
    background-color: #6dc5dd;
    padding: 0 30px;
    font-family: "Source Sans Pro";
}

.footer__content
{
    padding-top: 50px; 
    float: left;
}

.footer__signature
{
    padding-bottom: 50px; 
    float: left;
}






.footer-content 
{
   float: left;
   
}

.footer-content :last-child
{
     padding-right: 0;
}

.footer-content__text-block
{
    padding-right: 40px;
    margin-bottom: 20px;
    float: left;
}

.footer-text-block 
{
    min-width: 145px;
    float: left;
    list-style-type: none;
    
}

.footer-text-block__item
{
    
    font-size: 17px;
    color: #fff;
    line-height: 30px;
}

.footer-text-block__item--title
{
    font-size: 23px;
    font-weight: bold;
}







.signature
{
    border-top: solid 1px #9fd9e9;
}

.signature__text
{
    padding-top: 40px;
    float: left;
}

.signature__footer-links
{
     padding-top: 40px;
     float: left;
     padding-left: 304px;
}


.signature-text
{
     float: left;
     color: #fff;
}



.footer-links
{
   max-width: 100px;
}
.footer-links__logo-link
{
    float: left;
}

.logo-link
{
    height: 35px;
    width: 35px;
    border-radius: 50px;
    background-color: #fff; 
    margin-left: 5px;
}

.logo-link__picture
{
    padding-left: 11px;
    padding-top: 12px;
}

.logo-link__picture--facebook
{
    padding-left: 14px;
    padding-top: 10px;
}