.baner
{
    background: linear-gradient(to bottom, #e7e7e7, #ffffff);
    width: 1170px;
    height: 400px;
}

.baner__img
{
    margin-top: 52px;
    padding-left: 100px;
    height: 348px;
    float: left;
    width: 50%;
    box-sizing: border-box;
}

.baner__text
{
    width: 50%;
    float: right;
    clear: right;
    padding-top: 90px;
    box-sizing: border-box;
    font-family: "Source Sans Pro";

}

.baner__text--lager
{
    font-size: 42px;
    text-transform: uppercase;
    font-weight: 900;
}

.baner__text--midle
{
    font-size: 26px;
    color: #003d48;
    font-weight: 300;
}

.baner__text--small
{
    font-size: 17px;
    color: #8b8b8b;
    margin-top: 25px;
    margin-bottom: 30px; 
    padding-right: 30px;
}

.baner__btn-contener
{
    width: 50%;
    float: right;
    box-sizing: border-box;
}

 .baner__btn
{
    background: #f77462;
    color: #fff;
    border-radius: 3px;
    display: block;
    width: 130px;
    height: 45px;
    padding: 10px 0;
    font-family: "Source Sans Pro";
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    box-sizing: border-box;
} 

